@charset "UTF-8";
body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #efefef;
  transition: all 1s;
}

.moon {
  background-color: #474747;
}

* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "League Spartan", serif;
}

body nav {
  margin: 40px;
  display: flex;
  overflow: hidden;
}
body nav .logoContainer {
  width: 50%;
}
body nav .logoContainer .logo {
  width: auto;
  transform: translateY(-20px);
  transition: 1s ease-in-out;
}
body nav .logoContainer .logo .logoM {
  text-decoration: none;
  color: #000000;
}
body nav .logoContainer .logo .moon {
  color: #c9c5c5;
}
body nav .logoContainer .intro {
  transform: translateY(0px);
}
body nav .navigation {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
body nav .navigation ul {
  gap: 15px;
  display: flex;
  align-items: center;
}
body nav .navigation ul li a {
  color: #000000;
}
body nav .navigation ul li a .fa-bars,
body nav .navigation ul li a .language,
body nav .navigation ul li a .fa-moon {
  transform: translateY(-20px);
  transition: 0.8s ease-in-out;
}
body nav .navigation ul li a .intro {
  transform: translateY(0px);
}
body nav .navigation ul .theme {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  position: relative;
  height: 100%;
}
body nav .navigation ul .theme .fa-moon {
  position: absolute;
  cursor: pointer;
  transition: all 0.5s;
  top: 0;
  left: 0;
}
body nav .navigation ul .theme .fa-sun {
  position: absolute;
  left: 0;
  transition: all 0.5s;
  top: 20px;
}

body #main .welcomeMessage {
  margin-top: 0px;
}
body #main .welcomeMessage .welcome {
  display: flex;
  justify-content: center;
  gap: 5px;
  text-transform: uppercase;
  margin: 3px;
  font-size: 30px;
  font-weight: 600;
}
body #main .welcomeMessage .welcome .welcomeText {
  color: transparent; /* Hace el relleno del texto transparente */
  -webkit-text-stroke: 1px #000000; /* Borde de 2px de ancho y color negro */
  letter-spacing: 2px;
}
body #main .welcomeMessage .welcome .name {
  color: #469ae9;
}
body #main .wOne {
  transition: all 0.7s;
  transform: translateY(-50px);
  opacity: 0;
}
body #main .wTwo {
  transition: all 0.7s;
  transform: translateY(-50px);
  opacity: 0;
}
body #main .presentation {
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
}
body #main .presentation .pOne {
  transition: all 0.7s;
  transform: translateY(-50px);
  opacity: 0;
}
body #main .presentation .pTwo {
  transition: all 0.7s;
  transform: translateY(-50px);
  opacity: 0;
  color: #000000;
}
body #main .presentation .intro {
  transform: translateY(0px);
  opacity: 1;
  color: #000000;
}
body #main .moreInfo {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  transform: translateY(-50px);
  opacity: 0;
  transition: all 0.7s;
  font-size: 14px;
}
body #main .moreInfo .pContainer {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
  cursor: pointer;
  padding-bottom: 2px;
}
body #main .moreInfo .pContainer i {
  color: #000000;
}
body #main .moreInfo .pContainer p {
  font-size: 14px;
  text-decoration: none;
  color: #000000;
}
body #main .moreInfo .pContainer::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0; /* Posición del subrayado */
  width: 0; /* Inicialmente sin anchura */
  height: 1.5px; /* Grosor del subrayado */
  background-color: #000000; /* Color del subrayado */
  transition: width 0.6s ease; /* Animación de la anchura */
}
body #main .moreInfo .pContainer:hover::after {
  width: 100%; /* Ancho completo al hacer hover */
}
body #main .intro {
  transform: translateY(0px);
  opacity: 1;
}
body .displayNone {
  display: none;
}

body #myProjects {
  height: 100%;
  display: flex;
  flex-grow: 1;
  display: none;
}
body #myProjects .previewContainer {
  width: 50%;
  border-radius: 0px 50px 0px 0px;
  transition: opacity 0.7s ease-in-out, background-image 0.5s ease-in-out;
  opacity: 0; /* Se inicia oculta */
  pointer-events: none; /* Para evitar interacción no deseada cuando está oculta */
}
body #myProjects .previewContainer.ganadera {
  background-image: url(../assets/ganaderaArenales.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
}
body #myProjects .previewContainer.das {
  background-image: url(../assets/dasService.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
}
body #myProjects .previewContainer.dres {
  background-image: url(../assets/dresOrlandi.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
}
body #myProjects .listContainer {
  width: 50%;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
}
body #myProjects .listContainer .titleContainer {
  border-bottom: solid 2px #000000;
  padding-bottom: 5px;
  transition: all 0.7s;
  transform: translateY(-70px);
  opacity: 0;
}
body #myProjects .listContainer .titleContainer .workTitle {
  font-size: 50px;
  text-transform: uppercase;
}
body #myProjects .listContainer .listContent {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.7s;
  transform: translateY(-120px);
}
body #myProjects .listContainer .listContent a {
  width: 100%;
  height: 80px;
  border-bottom: solid 1px #000000;
  display: flex;
  align-items: center;
  overflow: hidden;
  color: #000000;
}
body #myProjects .listContainer .listContent a:hover .content {
  transform: translateX(0px);
}
body #myProjects .listContainer .listContent a .content {
  transform: translateX(-15px);
  transition: 0.4s;
}
body #myProjects .listContainer .animation {
  transform: translateY(0);
  opacity: 1;
}
body .displayBlock {
  display: flex !important;
}

body {
  position: relative;
}
body #moreAboutMe {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: none;
  z-index: -1;
}
body #moreAboutMe .mamAbout {
  width: 50%;
  height: 100%;
  transform: translateY(-100px);
  opacity: 0;
  transition: all 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #moreAboutMe .mamAbout .aboutContainer {
  margin: 50px;
}
body #moreAboutMe .mamAbout .aboutContainer h3 {
  font-size: 50px;
  padding-bottom: 5px;
}
body #moreAboutMe .mamAbout .aboutContainer p {
  border-top: 1px solid #000000;
  padding-top: 15px;
}
body #moreAboutMe .mamCarrousel {
  width: 50%;
  height: 100%;
  transform: translateY(-100px);
  opacity: 0;
  transition: all 1s;
}
body #moreAboutMe .mamCarrousel img {
  width: 100%;
  transform: translateY(-100px);
  object-fit: cover;
  opacity: 70%;
}
body #moreAboutMe .animation {
  transform: translateY(0px);
  opacity: 1;
}
body .displayBlock {
  display: flex;
}

/*# sourceMappingURL=styles.css.map */
