body {
  #main {
    .welcomeMessage {
      margin-top: 0px;

      .welcome {
        display: flex;
        justify-content: center;
        gap: 5px;
        text-transform: uppercase;
        margin: 3px;
        font-size: 30px;
        font-weight: 600;

        .welcomeText {
          transition: all 0.7s ease-in-out;
          color: transparent; /* Hace el relleno del texto transparente */
          -webkit-text-stroke: 1px $main; /* Borde de 2px de ancho y color negro */
          letter-spacing: 2px;
        }

        .moon {
          -webkit-text-stroke: 1px $mainMoon;
          background-color: transparent;
        }

        .name {
          color: $second;
        }
      }
    }

    .wOne, .wTwo {
      transition: all 0.7s;
      transform: translateY(-50px);
      opacity: 0;
    }

    .presentation {
      text-align: center;
      margin-top: 10px;
      font-size: 18px;

      .pOne, .pTwo {
        transition: all 0.7s;
        transform: translateY(-50px);
        opacity: 0;
      }

      .moon {
        background-color: transparent;
        color: $mainMoon !important;
      }

      .pText {
        transition: all 0.7s ease-in-out;
      }

      .intro {
        transform: translateY(0px);
        opacity: 1;
        color: $main;
      }
    }

    .moreInfo {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      transform: translateY(-50px);
      opacity: 0;
      transition: all 0.7s;
      font-size: 14px;

      .pContainer {
        display: flex;
        align-items: center;
        gap: 5px;
        position: relative;
        cursor: pointer;
        padding-bottom: 2px;

        .fa-arrow-right {
          color: $main;
          background-color: transparent;
          transition: all 1s ease-in-out;
        }

        .mamText {
          font-size: 14px;
          text-decoration: none;
          color: $main;
          background-color: transparent;
          transition: all 1s ease-in-out;
        }

        .moon {
          color: $mainMoon;
        }

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0; /* Posición del subrayado */
          width: 0; /* Inicialmente sin anchura */
          height: 1.5px; /* Grosor del subrayado */
          background-color: $main; /* Color del subrayado */
          transition: width 0.6s ease, background-color 0.3s ease;
        }

        &:hover::after {
          width: 100%; /* Ancho completo al hacer hover */
        }
      }
    }

    .intro {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  .displayNone {
    display: none;
  }

  /* 🔹 Modo oscuro: cambiar color del subrayado en hover */
  &.moon {
    .pContainer::after {
      background-color: $mainMoon !important;
    }
  }
}
