body {
  #main {
    width: auto;
    height: 100vh;
    padding-top: 50px;
    margin: 0px 40px;
    nav {
      display: flex;
      overflow: hidden;
      .logoContainer {
        width: 50%;
        .logo {
          width: auto;
          transform: translateY(-20px);
          transition: 1s ease-in-out;
        }
        .intro {
          transform: translateY(0px);
        }
      }
      .navigation {
        display: flex;
        justify-content: flex-end;
        // align-items: center;
        width: 50%;
        // border: solid 1px red;
        ul {
          gap: 15px;
          display: flex;
          align-items: center;
          li {
            a {
              color:$main;
              .fa-bars,
              .language,
              .fa-moon {
                transform: translateY(-20px);
                transition: 0.8s ease-in-out;
              }

              .intro {
                transform: translateY(0px);
              }
            }
          }
        }
      }
    }
    .welcomeMessage {
      margin-top: 30px;

      .welcome {
        display: flex;
        justify-content: center;
        gap: 5px;
        text-transform: uppercase;
        margin: 3px;
        font-size: 30px;
        font-weight: 600;
        .welcomeText {
          color: transparent; /* Hace el relleno del texto transparente */
          -webkit-text-stroke: 1px $main; /* Borde de 2px de ancho y color negro */
          letter-spacing: 2px;
        }
        .name {
          color: $second;
        }
      }
    }
    .wOne {
      transition: all 0.7s;
      transform: translateY(-50px);
      opacity: 0;
    }
    .wTwo {
      transition: all 0.7s;
      transform: translateY(-50px);
      opacity: 0;
    }
    .presentation {
      text-align: center;
      margin-top: 10px;
      font-size: 18px;
      .pOne {
        transition: all 0.7s;
        transform: translateY(-50px);
        opacity: 0;
      }
      .pTwo {
        transition: all 0.7s;
        transform: translateY(-50px);
        opacity: 0;
      }
      .intro {
        transform: translateY(0px);
        opacity: 1;
      }
    }
    .moreInfo {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      transform: translateY(-50px);
      opacity: 0;
      transition: all 0.7s;
      font-size: 14px;

      .pContainer {
        display: flex;
        align-items: center;
        gap: 5px;
        position: relative; /* Necesario para posicionar el pseudo-elemento */
        cursor: pointer; /* Cambia el cursor al pasar sobre el contenedor */
        padding-bottom: 2px; /* Espacio para el subrayado */
      
        /* Estilos del texto dentro del contenedor */
        p {
          font-size: 14px;
          text-decoration: none; /* Elimina el subrayado por defecto */
        }
      
        /* Pseudo-elemento para el subrayado */
        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0; /* Posición del subrayado */
          width: 0; /* Inicialmente sin anchura */
          height: 1.5px; /* Grosor del subrayado */
          background-color: $main; /* Color del subrayado */
          transition: width 0.6s ease; /* Animación de la anchura */
        }
      
        /* Efecto al hacer hover en el contenedor */
        &:hover::after {
          width: 100%; /* Ancho completo al hacer hover */
        }
      }
    }
    .intro {
      transform: translateY(0px);
      opacity: 1;
    }
  }
}
