body {
  #menu {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    .menuContainer {
      width: 200px;
      height: 200px;
      ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        li {
          font-size: 40px;
          margin: 5px;
          display: flex;
          align-items: center;
          gap: 10px;
          overflow: hidden;
          transition: all 0.5s;
          p {
            transform: translateY(-30px);
            opacity: 0;
            transition: all 0.5s;
            color: $main;
          }
          .animation {
            transform: translateY(0px);
            opacity: 1;
          }
        }
      }

      .networks {
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
        overflow: hidden;
        transition: all 0.5s;
        a {
          transition: all 0.5s;
          transform: translateY(-20px);
          display: flex;
          gap: 5px;
        }
        .animation {
          transform: translateY(0px);
          opacity: 1;
        }
      }
    }
  }
  .displayBlock {
    display: flex !important;
  }
}
