body {
  nav {
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;
    // border: solid 1px red;
    height: auto;
    min-height: 20px;
    .logoContainer {
      width: 50%;
      .logo {
        width: auto;
        transform: translateY(-20px);
        transition: 0.7s;
        background-color: transparent;
        cursor: pointer;
        color: $main;
      }
      .moon {
        color: $mainMoon;
      }
      .intro {
        transform: translateY(0px);
      }
    }
    .navigation {
      display: flex;
      justify-content: flex-end;
      width: 50%;
      ul {
        gap: 15px;
        display: flex;
        align-items: center;
        li {
          a {
            color: $main;
            .fa-bars,
            .language,
            .theme {
              transform: translateY(-20px);
              transition: 0.8s ease-in-out;
              background-color: transparent;
            }

            .language {
              background-color: transparent;
            }

            .fa-sun {
              color: $mainMoon;
            }

            .moon {
              color: $mainMoon;
            }

            .intro {
              transform: translateY(0px);
            }
          }
        }
        .theme {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 20px;
          position: relative;
          height: 100%;
          transform: translateY(-20px);
          transition: all 1s;
          .fa-moon {
            position: absolute;
            cursor: pointer;
            transition: all 0.5s;
            top: 0;
            left: 0;
          }
          .fa-sun {
            position: absolute;
            left: 0;
            transition: all 0.5s;
            top: 20px;
            opacity: 0;
          }
        }
        .intro {
          transform: translateY(0px);
        }
      }
    }
  }
}
