$background: #efefef;
$main: #c17878;
$second: #469ae9;

$backgroundMoon: #474747;
$mainMoon: #c9c5c5;
$secondMoon: #cee53a;

body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: $background;
  transition: all 1s;
}
.moon {
  background-color: $backgroundMoon
}
* {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family:  "League Spartan", serif
  }
  
  